@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-inky: #0e0e0e;
  --color-surface: #efefef;
  --color-gray: #c2c2c2;
  --color-darkgray: #6b6b6b;
}

@utility container {
  @apply mx-auto px-4
}