@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-inky: #0e0e0e;
  --color-surface: #efefef;
  --color-gray: #c2c2c2;
  --color-darkgray: #6b6b6b;
}

@utility container {
  @apply mx-auto px-4
}

@utility h2 {
  @apply text-8xl uppercase tracking-[-3px] mb-14 font-bold max-lg:text-7xl max-md:text-5xl
}
